{% extends 'home_page.html' %}
{% load static %}
<html lang="en">
<head>
    {% block sesion %}
        <a href="{% url 'cerrar_sesion' %}">
            <button type="button" class="btn btn-outline-danger">    
                <i class="flaticon-user"></i>
                <span>Cerrar Sesión</span>
            </button>
        </a>
    {% endblock %}
</head>

{% block contenido %}
    <!-- core_features_start -->
    <div class="core_features">
        <div class="container">
            <div class="border-bottm">
            	<br>
            	<br>
            	<br>
            	<br>
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="featuures_heading">
                            <h3>Empleos {{user.FirstName}}</h3>
                        </div>
                    </div>
                </div>
                <br>
                <a class="genric-btn success circle" href="{%url 'crearanuncios'  %}?celular=0939694489" href="crear_anuncio?celular">Crear anuncio</a>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="row">
                            	{% for c in lista%}
                                
                                <div class="col-xl-6">
                                    <a class="btn btn-danger circle" href="eliminar_anuncio?id={{c.anuncio_id}}">X</a>
                                    <a class="btn btn-warning circle" href="modificar_anuncio?id={{c.anuncio_id}}">M</a>
                                    <a href="{%url 'ver_postulaciones' %}?codigo={{c.anuncio_id}}">
                                    <div class="single_features">
                                        <div class="icon"><i class="flaticon-browser"></i></div>
                                        <div class="features_info">
                                            <h4>{{c.titulo}}</h4>
                                            <h5>{{c.puesto}}</h5>
                                            <p>{{c.descripcion}}</p>
                                            <p>{{c.area}}</p>
                                            <p>{{c.pais}}</p>
                                            <p>{{c.provincia}}</p>
                                            <p>{{c.ciudad}}</p>
                                            <p>{{c.direccion}}</p>
                                            <a class="genric-btn primary circle" href="{%url 'postular'  %}?celular=0939694489&id={{c.anuncio_id}}">Postular</a>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                
                            	{%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- core_features_end -->
{% endblock %}

</html>